@font-face {
  font-family: cantarellregular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cantarell_regular-webfont.woff") format("woff"), url("../fonts/cantarell_regular-webfont.woff2") format("woff2");
}
body {
  font-family: helvetica, arial, sans-serif;
}

h2 {
  font-family: "cantarellregular", helvetica, arial;
  font-size: 20px;
  color: #BA3B0A;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
}

body {
  background: #ffffff;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center-text {
  text-align: center !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.logo {
  max-width: 150px;
}

#burger_button {
  margin-top: 15px;
  cursor: pointer;
}

.burger-line {
  background-color: rgb(0, 0, 0);
  height: 3px;
  width: 25px;
  display: block;
  margin: 4px auto;
  transition: all 0.5s;
  z-index: 5;
  position: relative;
}

#burger-con.slide-toggle {
  display: block;
  background: #F3EBF7;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
}

#burger-con {
  display: none;
}

#main-nav ul {
  padding: 0;
  margin: 50px 0;
}

#main-nav ul li {
  margin: 20px 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #000000;
  font-size: 2rem;
  position: relative;
}
#main-nav ul li a:hover {
  border-bottom: 3px solid #B41428;
  padding-bottom: 18px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

#burger_button.expanded {
  transform: rotate(90deg);
  z-index: 6;
  position: relative;
}

#header-logo {
  margin-top: 15px;
  order: -1;
}

#header-box1-media {
  margin-top: 10px;
}

#header-box1-media a {
  font-size: 1.1rem;
  color: #000000;
  padding: 0 5px;
}
#header-box1-media a:hover {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  #burger_button {
    display: none;
  }
  #burger-con {
    display: block;
  }
  #burger-con ul li {
    border: none;
    display: inline;
    padding: 0 15px;
  }
  #main-nav ul li a {
    display: inline;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  #main-nav {
    grid-row: 2;
  }
  #main-header {
    text-align: center;
  }
  .logo {
    max-width: 300px;
    margin-top: 15px;
  }
  #burger-con.slide-toggle {
    display: none;
  }
  #header-box1-media {
    grid-row: 2;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  #header-box1-media a {
    font-size: 1.5rem;
    color: #000000;
    padding: 10px 10px;
  }
  #main-header {
    border-bottom: 1px solid #707070;
  }
}
@media screen and (min-width: 1200px) {
  #burger-con.slide-toggle {
    display: none;
  }
  #header-box1-media a {
    font-size: 1.5rem;
    color: #000000;
    padding: 10px 10px;
  }
  #burger-con ul li {
    border: none;
    display: inline;
    padding: 0 40px;
  }
}
#footer {
  margin-top: 30px;
  background-color: #ffdddd;
}

#web-creater {
  margin-top: 15px;
  text-align: center;
}

#explode-view {
  max-width: 100%;
  /* width: 100vw; */
}

model-viewer {
  width: auto;
  max-width: 1920px;
  height: 700px;
  background: url(../images/heart-bag-5.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 45px;
  height: 38px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: #333;
  line-height: 22px;
  font-weight: 300;
}

.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: #E89B36;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@-webkit-keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@-webkit-keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  -webkit-animation: elongate 2s infinite ease-in-out alternate;
          animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  -webkit-animation: circle 4s linear infinite;
          animation: circle 4s linear infinite;
}

#outerShell {
  max-width: 1200px;
  border: solid 1px #666;
  margin: 0 auto;
}

#imageCon {
  position: relative;
  height: 800px;
}

.slideImage {
  position: absolute;
  left: 0;
  right: 0;
  height: 800px;
}

.image-right {
  background: url(../images/heartbuds_x-ray-2.jpg) no-repeat;
  background-size: cover;
}

.image-left {
  background: url(../images/heartbuds-non-x-ray.jpg) no-repeat;
  background-size: cover;
  width: 50%;
}

.image-drag {
  background-color: #666;
  left: 50%;
  width: 4px;
  cursor: pointer;
}

#promotional-1 {
  background: url(../images/promotional-1-m.jpg) no-repeat top/100% auto;
  background-size: cover;
  height: 350px;
}

#promotional-2 {
  background: url(../images/promotional-2-m.jpg) no-repeat top/100% auto;
  background-size: cover;
  height: 380px;
}

#promotional-3 {
  background: url(../images/promotional-3-m.jpg) no-repeat top/100% auto;
  background-size: cover;
  height: 380px;
}

#video {
  background: #F3EBF7;
}
#video h2 {
  font-size: 2rem;
  font-weight: bold;
}

#player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.video-controls {
  position: absolute;
  right: 0;
  left: 0;
  padding: 20px;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  display: flex;
  transition: all 0.2s ease;
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.video-icons {
  color: #fff;
  font-size: 28px;
  margin-left: 20px;
}

.fa-volume-up {
  margin-left: auto;
  margin-right: 20px;
}

/*********** Baseline, reset styles ***********/
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type=range]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type=range]:focus::-webkit-slider-thumb {
  outline: 3px solid #ffffff;
  outline-offset: 0.125rem;
}

#feature-con {
  background: url(../images/feature-bg.jpg);
  background-repeat: no-repeat;
}

#buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 20px 0;
  padding: 20px 30px;
  overflow: hidden;
  background-color: #F3EBF7;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #f0d5fd;
}

@media screen and (min-width: 768px) {
  #promotional-1 {
    background: url(../images/promotional-1.jpeg) no-repeat 50%/cover;
    height: 600px;
  }
  #promotional-2 {
    background: url(../images/promotional-2.jpg) no-repeat 50%/cover;
    height: 600px;
  }
  #promotional-3 {
    background: url(../images/promotional-3.jpg) no-repeat 50%/cover;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  #promotional-1 {
    background: url(../images/promotional-1.jpeg) no-repeat 50%/cover;
    height: 1080px;
  }
  #promotional-2 {
    background: url(../images/promotional-2.jpg) no-repeat 50%/cover;
    height: 894px;
  }
  #promotional-3 {
    background: url(../images/promotional-3.jpg) no-repeat 50%/cover;
    height: 894px;
  }
}
#contact {
  margin-top: 40px;
  margin-bottom: 30px;
}
#contact #contact-title h2, #contact h3 {
  color: #000000;
  font-size: 1.5em;
}
#contact #contact-info {
  margin-top: 60px;
}

#contact-info h3 {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

#contact-info span {
  color: #000000;
  padding: 10px 0;
  display: block;
}

#contact-form {
  color: #000000;
  font-weight: bold;
  border: solid 2px #000000;
  margin: 40px 0;
}
#contact-form h2 {
  color: #000000;
  margin-top: 10px;
  font-size: 1.8em;
}
#contact-form form {
  display: flex;
  flex-direction: column;
}
#contact-form input, #contact-form textarea {
  padding: 15px;
  border: solid 1px #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 30px;
  font: inherit;
}
#contact-form textarea {
  height: 150px;
}
#contact-form input[type=submit] {
  width: 100px;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  transition: all 200ms ease-in;
  align-self: center;
  cursor: pointer;
}
#contact-form input[type=submit]:hover {
  background-color: #6c6c6c;
}/*# sourceMappingURL=main.css.map */