// Utilities or Helpers elements

body {
    background: #ffffff;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.center-text { 
    text-align: center !important;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 20px;
}
